<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>270570174013-rrb5miaiqjk22s8td97nj4ajlibdn0vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270570174013-rrb5miaiqjk22s8td97nj4ajlibdn0vi</string>
	<key>API_KEY</key>
	<string>AIzaSyDG6dd2NL0VRpOBRp8Vep4K_nHZBFX4jvM</string>
	<key>GCM_SENDER_ID</key>
	<string>270570174013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raytso.SAV.alpha</string>
	<key>PROJECT_ID</key>
	<string>savefinger-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>savefinger-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270570174013:ios:27830e9276a5d85d</string>
	<key>DATABASE_URL</key>
	<string>https://savefinger-dev.firebaseio.com</string>
</dict>
</plist>